body {background-color: antiquewhite;
    color: maroon;
}

h1 {
    color: navy;
}

h3 {
    color:magenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    color: darkgreen;
}

footer {
    font-size: small;
    color: grey;
}